.env


# docker compose

docker-compose.override.yml
docker-compose.prod.yml
docker-compose.dev.yml  



# --- IGNORE ---


# IDE files intellija
.idea/
*.iml
workspace.xml
tasks.xml
usage.statistics.xml
dictionaries/
shelf/
.DS_Store
# End of recent edits   





